
= form_tag workout_plan_exercise_exercise_routines_path(@workout_plan_id, @exercise_id), :method => :post do

    = label :exercise_routine, :serie, 'Serie'
    = text_field :exercise_routine, :serie

    = label :exercise_routine, :ripetizione, 'Ripetizione'
    = text_field :exercise_routine, :ripetizione

    = label :exercise_routine, :chilogrammi, 'Chilogrammi'
    = text_field :exercise_routine, :chilogrammi
 
    = submit_tag 'Salva' 
