
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/stile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class='fixed-top'>
    <div class="container">
        
     
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" <%= link_to "HOME", soci_index_path %> </a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="#">Come trovarci </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contattaci</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Le attività
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
          </ul>
    
            
            <button class="btn btn-outline-success " href="1"> Login</button>
          </form>
        </div>
      </nav>
    </div>
    </div>

    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="/assets/foto1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/assets/foto2.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/assets/foto3.png" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
    </div>

<div class="container "> 
<p class="lead big-padding">

<h2><%=@listasoci.nome %> <%=@listasoci.cognome %> </h2>
<ul id="details">
  <li>
    Indirizzo:
    <%= @listasoci.indirizzo %>
  </li>
  <li>
    email:
    <%= @listasoci.email %>
  </li>
</ul>
<a type="button" class="btn btn-outline-success"   <%= link_to "Modifica", edit_soci_path %>  </a>
   
<a type="button" class="btn btn-outline-success"   <%= link_to "Indietro", soci_index_path %>  </a>



</div>
    
    <div class="container ">
         <p class="lead big-padding">CIAO A TUTTI Il testo è un sistema in cui sono messe in relazione unità di contenuto, cui vengono attribuite forme differenti (secondo i codici e i linguaggi adoperati), e di grandezza variabile. È un testo una semplice ed essenziale frase linguistica verbale o scritta, una novella, un romanzo, un film, un quadro, un brano musicale, le istruzioni di un televisore, i gradi di una divisa militare. Sono testi tutte le unità isolabili che si possono definire come appartenenti a un sistema codificato dell'espressione.[senza fonte]

            Un testo si differenzia da un insieme di parole giustapposte casualmente, in base alla presenza – in esso – di una finalità comunicativa, riconoscibile da un lettore di media cultura: in sostanza, si distingue da quelle per la presenza di vincoli di semantica.
            
            "Condizione perché si possa parlare di testo è che si abbia una produzione linguistica (orale o scritta) fatta con l'intenzione e con l'effetto di comunicare e nella quale si possano individuare un'emittente [...] e un destinatario" (Serianni 2007: 23).
            
            Si definisce la testualità come un insieme di proprietà intrinseche del testo. Ad esempio: Il testo è un sistema in cui sono messe in relazione unità di contenuto, cui vengono attribuite forme differenti (secondo i codici e i linguaggi adoperati), e di grandezza variabile. È un testo una semplice ed essenziale frase linguistica verbale o scritta, una novella, un romanzo, un film, un quadro, un brano musicale, le istruzioni di un televisore, i gradi di una divisa militare. Sono testi tutte le unità isolabili che si possono definire come appartenenti a un sistema codificato dell'espressione.[senza fonte]

            Un testo si differenzia da un insieme di parole giustapposte casualmente, in base alla presenza – in esso – di una finalità comunicativa, riconoscibile da un lettore di media cultura: in sostanza, si distingue da quelle per la presenza di vincoli di semantica.
            
            "Condizione perché si possa parlare di testo è che si abbia una produzione linguistica (orale o scritta) fatta con l'intenzione e con l'effetto di comunicare e nella quale si possano individuare un'emittente [...] e un destinatario" (Serianni 2007: 23).
            
            Si definisce la testualità come un insieme di proprietà intrinseche del testo. Ad esempio: Il testo è un sistema in cui sono messe in relazione unità di contenuto, cui vengono attribuite forme differenti (secondo i codici e i linguaggi adoperati), e di grandezza variabile. È un testo una semplice ed essenziale frase linguistica verbale o scritta, una novella, un romanzo, un film, un quadro, un brano musicale, le istruzioni di un televisore, i gradi di una divisa militare. Sono testi tutte le unità isolabili che si possono definire come appartenenti a un sistema codificato dell'espressione.[senza fonte]

            Un testo si differenzia da un insieme di parole giustapposte casualmente, in base alla presenza – in esso – di una finalità comunicativa, riconoscibile da un lettore di media cultura: in sostanza, si distingue da quelle per la presenza di vincoli di semantica.
            
            "Condizione perché si possa parlare di testo è che si abbia una produzione linguistica (orale o scritta) fatta con l'intenzione e con l'effetto di comunicare e nella quale si possano individuare un'emittente [...] e un destinatario" (Serianni 2007: 23).
            
            Si definisce la testualità come un insieme di proprietà intrinseche del testo. Ad esempio: Il testo è un sistema in cui sono messe in relazione unità di contenuto, cui vengono attribuite forme differenti (secondo i codici e i linguaggi adoperati), e di grandezza variabile. È un testo una semplice ed essenziale frase linguistica verbale o scritta, una novella, un romanzo, un film, un quadro, un brano musicale, le istruzioni di un televisore, i gradi di una divisa militare. Sono testi tutte le unità isolabili che si possono definire come appartenenti a un sistema codificato dell'espressione.[senza fonte]

            Un testo si differenzia da un insieme di parole giustapposte casualmente, in base alla presenza – in esso – di una finalità comunicativa, riconoscibile da un lettore di media cultura: in sostanza, si distingue da quelle per la presenza di vincoli di semantica.
            
            "Condizione perché si possa parlare di testo è che si abbia una produzione linguistica (orale o scritta) fatta con l'intenzione e con l'effetto di comunicare e nella quale si possano individuare un'emittente [...] e un destinatario" (Serianni 2007: 23).
            
            Si definisce la testualità come un insieme di proprietà intrinseche del testo. Ad esempio: Il testo è un sistema in cui sono messe in relazione unità di contenuto, cui vengono attribuite forme differenti (secondo i codici e i linguaggi adoperati), e di grandezza variabile. È un testo una semplice ed essenziale frase linguistica verbale o scritta, una novella, un romanzo, un film, un quadro, un brano musicale, le istruzioni di un televisore, i gradi di una divisa militare. Sono testi tutte le unità isolabili che si possono definire come appartenenti a un sistema codificato dell'espressione.[senza fonte]

            Un testo si differenzia da un insieme di parole giustapposte casualmente, in base alla presenza – in esso – di una finalità comunicativa, riconoscibile da un lettore di media cultura: in sostanza, si distingue da quelle per la presenza di vincoli di semantica.
            
            "Condizione perché si possa parlare di testo è che si abbia una produzione linguistica (orale o scritta) fatta con l'intenzione e con l'effetto di comunicare e nella quale si possano individuare un'emittente [...] e un destinatario" (Serianni 2007: 23).
            
            Si definisce la testualità come un insieme di proprietà intrinseche del testo. Ad esempio: Il testo è un sistema in cui sono messe in relazione unità di contenuto, cui vengono attribuite forme differenti (secondo i codici e i linguaggi adoperati), e di grandezza variabile. È un testo una semplice ed essenziale frase linguistica verbale o scritta, una novella, un romanzo, un film, un quadro, un brano musicale, le istruzioni di un televisore, i gradi di una divisa militare. Sono testi tutte le unità isolabili che si possono definire come appartenenti a un sistema codificato dell'espressione.[senza fonte]

            Un testo si differenzia da un insieme di parole giustapposte casualmente, in base alla presenza – in esso – di una finalità comunicativa, riconoscibile da un lettore di media cultura: in sostanza, si distingue da quelle per la presenza di vincoli di semantica.
            
            "Condizione perché si possa parlare di testo è che si abbia una produzione linguistica (orale o scritta) fatta con l'intenzione e con l'effetto di comunicare e nella quale si possano individuare un'emittente [...] e un destinatario" (Serianni 2007: 23).
            
            Si definisce la testualità come un insieme di proprietà intrinseche del testo. Ad esempio: </p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/bootstrap.min.js"></script>
</body>
</html>



