
%h2 Crea una scheda

= form_tag workout_plans_path, :method => :post do

	
    = label :workoutplan, :nome, 'Nome'
    = text_field :workoutplan, :nome
 
    = label :workoutplan, :note, 'Note'
    = text_field :workoutplan, :note
    
    = submit_tag 'Salva' 
