


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/../../assets/bootstrap.min.css">
    <link rel="stylesheet" href="/../../assets/stile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class='fixed-top'>
    <div class="container">
        
     
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" <%= link_to "HOME", homepage_index_path %> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
              <a class="nav-link" <%= link_to "Info e Contatti", info_e_contatti_index_path %> </a>
            </li>
            <li class="nav-item ">
 <% if current_user.nil? %>
              
  <% else %>
    <a class="nav-link" <%= link_to "Scheda", workout_plans_path %> </a>
           <% end %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Le attività
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
          </ul>
    
            <% if current_user.nil? %>
              <button class="btn btn-outline-success" href="1"> <%= link_to "Log in", new_user_session_path, class: "text-success" %> </button> &nbsp;
              <button class="btn btn-outline-success" href="1"> <%= link_to "Sign up", new_user_registration_path, class: "text-success" %> </button>
            <% else %>
 <a class="nav-link" >Benvenuto</a><%= current_user.email %> &nbsp; &nbsp;
              <button class="btn btn-outline-success" href="1"> <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "text-success" %> </button>
            
           <% end %>
            
          </form>
        </div>
      </nav>
    </div>
    </div>



    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="/../../assets/foto1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/../../assets/foto2.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/../../assets/foto3.png" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
    </div>




    <div class="container">
    
    <p class="lead big-padding">
   
<h2> Esercizi di <%= current_user.nome %> </h2> <p>
  
 


    <div class="row">
 <% @exerciseroutines.each do |exerciseroutine| %> 
<div class="col-sm">
    
    <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 15rem;">  
<div class="card" style="width: 100%;" >

  <img src= "<%= Exercise.find(exerciseroutine.exercise_id).gruppo_muscolare %>" class="card-img-top" alt="...">
  <div class="card-body">

  
    <p class="card-text"><td>
<li>
    Serie:
    <%= exerciseroutine.serie %> 

</li>
</td>
<td>  
<li>
    Ripetizioni:
    <%= exerciseroutine.ripetizione %>
  </li>
</td>
<td>
  <li>
    Kg:
   <%= exerciseroutine.chilogrammi %> 
  </li>
</td>

<hr>

<a type="button" class="btn btn-outline-success"   <%= link_to 'Modifica', edit_workout_plan_exercise_exercise_routine_path(@workoutplan, exerciseroutine.exercise_id, exerciseroutine) %>  </a>
   
<a type="button" class="btn btn-outline-success"   <%= link_to 'Rimuovi', workout_plan_exercise_exercise_routine_path(@workoutplan,exerciseroutine.exercise_id, exerciseroutine), :method => :delete %>  </a></p>


</div>
 
</div>


</div>

</div>




 <% end %>
</div>
    
 

    <div class="container">

  
<a type="button" class="btn btn-outline-success"   <%= link_to 'Aggiungi un esercizio',  workout_plan_exercises_path(@workoutplan) %>  </a>
<a type="button" class="btn btn-outline-success"   <%= link_to 'Modifica scheda', edit_workout_plan_path(@workoutplan)%>  </a>
<a type="button" class="btn btn-outline-success"   <%= link_to 'Elimina scheda', workout_plan_path(@workoutplan), :method => :delete%>  </a>
<a type="button" class="btn btn-outline-success"   <%= link_to 'Torna alle schede', workout_plans_path %>  </a>
</div>

</div>
     <div class="container">
    <p class="lead big-padding">
    <p align="center"> Scopri i nostri corsi  </p>
    
    
    <div class="row">

    <div class="col-sm">
       
  
  <div class="shadow-lg p-3 mb-5 bg-white rounded">
  <div class="card" style="width: 18rem;">
 
  <img src="/../../assets/yoga.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ritrova il tuo centro </h5>
    <p class="card-text">

    Lo YOGA è una pratica millenaria che agisce a livello psico-fisico apportando molteplici benefici all’organismo e rigenerando le energie dell’individuo. </p>
    <a href="#" class="btn btn-outline-success" href="1">Scopri di piu</a>
         </div>
       </div>
     </div>     
    </div>




    <div class="col-sm">
         
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card" style="width: 18rem;">
   
    <img src="/../../assets/pilates.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ritrova il tuo centro </h5>
      <p class="card-text">
  
      Lo YOGA è una pratica millenaria che agisce a livello psico-fisico apportando molteplici benefici all’organismo e rigenerando le energie dell’individuo. </p>
      <a href="#" class="btn btn-outline-success" href="1">Scopri di piu</a>
           </div>
         </div>
       </div>     
      </div>
  
  

    <div class="col-sm">
          
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card" style="width: 18rem;">
   
    <img src="/../../assets/waraku.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ritrova il tuo centro </h5>
      <p class="card-text">
  
      Lo YOGA è una pratica millenaria che agisce a livello psico-fisico apportando molteplici benefici all’organismo e rigenerando le energie dell’individuo. </p>
      <a href="#" class="btn btn-outline-success" href="1">Scopri di piu</a>
           </div>
         </div>
       </div>     
      </div>
  
      

    <div class="col-sm">
       
 
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
    
    <div class="card" style="width: 18rem;">
    
    <img src="/../../assets/salapesi.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ritrova il tuo centro </h5>
      <p class="card-text">
  
      Lo YOGA è una pratica millenaria che agisce a livello psico-fisico apportando molteplici benefici all’organismo e rigenerando le energie dell’individuo. </p>
      <a href="#" class="btn btn-outline-success" href="1">Scopri di piu</a>
           </div>
         </div>
       </div>     
      </div>
  
        
  
    <div class="col-sm">
         
  
  
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card" style="width: 18rem;">
   
    <img src="/../../assets/orientale.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ritrova il tuo centro </h5>
      <p class="card-text">
  
      Lo YOGA è una pratica millenaria che agisce a livello psico-fisico apportando molteplici benefici all’organismo e rigenerando le energie dell’individuo. </p>
      <a href="#" class="btn btn-outline-success" href="1">>Scopri di piu</a>
           </div>
         </div>
       </div>     
      </div>
  
    <div class="col-sm">
          
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card" style="width: 18rem;">
   
    <img src="/../../assets/niaaa.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ritrova il tuo centro </h5>
      <p class="card-text">
  
      Lo YOGA è una pratica millenaria che agisce a livello psico-fisico apportando molteplici benefici all’organismo e rigenerando le energie dell’individuo. </p>
      <a href="#" class="btn btn-outline-success" href="1">>Scopri di piu</a>
           </div>
         </div>
       </div>     
      </div>
  
     
      <div class="container ">
      <p class="lead big-padding">
      <a href="contatta"><img src="/../../assets/prenota.png" class="d-block w-100" alt="..."</a>
      </div>
  
        </div>
  
      </p>

    
      <p align="center"> 2020 RubyOnFitness. All Rights Reserved </p>
      </div>
  
    





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/../../assets/bootstrap.min.js"></script>
</body>
</html>





